<app-messages [getMessage]="getMessage"></app-messages>

<div class="form-group" >
    <div class="col-sm-12">
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th scope="row">#</th>
                    <th>titre</th>
                </tr>
            </thead>
            <tbody class="">
                <tr *ngFor="let experience of experiences let i=index">
                    <th class="col-xs-1">{{i}}</th>
                    <td class="col-xs-9">{{experience.title}} </td>
                    <td class="glyphicon glyphicon-pencil col-xs-1" role="button" (click)="editExperienceData(experience)"></td>
                    <td class="glyphicon glyphicon-remove col-xs-1" role="button" (click)="deleteExperienceData(experience)" data-toggle="modal" data-target="#modalTarget"></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    
    <div  class="col-sm-12">
        
        <form [formGroup]="form" (ngSubmit)="submitExperience(form.value)">
            <h2 class="form-title">{{titleContenu}}</h2>        
            <br>
            <div>
                <label for="title">Titre</label>
                <input type="text" formControlName="title" name="title" class="form-control" required>
            </div>
            
            <br>
            <div>
                <label for="date">Date</label>
                <input type="text" formControlName="date" name="date" class="form-control" required>
            </div>
            
            <br>
            <div>
                <label for="company">Entreprise</label>
                <input type="text" formControlName="company" name="company" class="form-control" required>
            </div>
            
            <br>
            <div>
                <label for="lieu">Lieu</label>
                <input type="text" formControlName="lieu" name="lieu" class="form-control" required>
            </div>
            
            <br>
            <div *ngFor="let competence of competences">
                <input type = "checkbox"
                formControlName = "competence"
                name = "competence"
                [checked]="competence.checked"
                [value]=""
                (change)="onChange(competence)">
                <label  for="competence">{{competence.title}}</label>
            </div>

            
            
            <br>
            <div>
                <label for="body">Description</label>
                <ckeditor name="body" formControlName="body"  id="body" rows="10" cols="80"></ckeditor>
            </div>
            
            
            <br>
            <br>
            <button class="btn btn-success" [disabled]="!form.valid">Valider</button>
            <a class="btn btn-primary" (click)="resetExperienceData()">Ajouter un nouvelle experience</a>

            <br>
            <br>
            <br>
        </form>
    </div>
</div>

<app-pop-up [verifValidationData]="verifValidationData"></app-pop-up> 