<div class="row">
    <div *ngFor="let typeCompetence of typeCompetences">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="margin-top:0">{{typeCompetence.title}}</h3>
            </div>
            <div *ngFor="let competence of competences" >
                <div *ngIf="typeCompetence.id == competence.type" >
                    <div class="panel-body">
                        <div class="col-xs-10">{{competence.title}} </div>                        
                        <a routerLink="/competence-informatique/{{competence.id}}" class="glyphicon glyphicon-pencil col-xs-1" role="button"></a>
                        <div class="glyphicon glyphicon-remove col-xs-1" role="button" data-toggle="modal" data-target="#modalTarget" (click)="deleteItem(competence)"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>



<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->



<app-pop-up [verifValidationData]="verifValidationData"></app-pop-up>
