<div class="row">
    <div *ngFor="let typeCompetence of typeCompetences">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="margin-top:0">{{typeCompetence.title}}</h3>
            </div>
            <div *ngFor="let competence of competences" >
                <div *ngIf="typeCompetence.id == competence.type" >
                    <div class="panel-body">
                        <div class="col-md-10">{{competence.title}} </div>                        
                        <a routerLink="/competence-informatique/{{competence.id}}" class="glyphicon glyphicon-pencil col-md-1" role="button"></a>
                        <div class="glyphicon glyphicon-remove col-md-1" role="button"></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>