<div class="form-group">
    <div class="col-sm-6">
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th scope="row">#</th>
                    <th>Titre</th>
                </tr>
            </thead>
            <tbody class="">
                <tr *ngFor="let competence of competences let i=index">
                    <th class="col-xs-1">{{i}}</th>
                    <td class="col-xs-9">{{competence.title}} </td>
                    <td>
                        <a routerLink="/competence-informatique/{{competence.id}}" class="glyphicon glyphicon-pencil col-xs-1" role="button"></a>
                    </td>
                    <td class="glyphicon glyphicon-remove col-xs-1" role="button" (click)="deleteCompetenceData(competence)" data-toggle="modal" data-target="#modalTarget"></td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <form [formGroup]="form" (submit)="createCompetence(form.value)">
            <h2>Ajouter une nouvelle compétence informatique</h2>
            <br>
            <label for="title">Titre</label>
            <input type="text" name="title" formControlName="title" class="form-control" required  clear-input>
            
            <br>
            <label for="title">Type de compétence</label>
            <select name="type" formControlName="type" class="form-control" required>
                <option *ngFor="let type of types" value="{{type.id}}">{{type.title}}</option>
            </select>
            
            <br>
            <br>
            <button type="submit" class="btn btn-success" [disabled]="!form.valid">Ajouter</button>
        </form>
    </div>
</div>

                    <app-pop-up [verifValidationData]="verifValidationData"></app-pop-up> 
