<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/home">Portfolio</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ajouter <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/add-competence-informatique" routerLinkAcive="active">Ajouter une compétence informatique</a></li>
                        <li><a routerLink="/add-competence-type" routerLinkAcive="active">Ajouter un type de compétence</a></li>
                        <li><a routerLink="/add-formation" routerLinkAcive="active">Ajouter une formation</a></li>
                        <li><a routerLink="/add-langue" routerLinkAcive="active">Ajouter une Langue</a></li>
                        <li><a routerLink="/add-experience" routerLinkAcive="active">Ajouter une expérience professionnelle</a></li>
                    </ul>
                </li>
                <li><a routerLink="/list-competences-informatique" routerLinkAcive="active">Compétences informatique</a></li>
                <li><a routerLink="/competence-informatique/10" routerLinkAcive="active">Compétences informatique</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<router-outlet></router-outlet>
