<section id="section-1" class="section1 section jumbotron text-center">
  <div class="col-sm-12 block-top">
    <!-- <img [src]="image" class="img-fluid image-top" alt="Responsive image"> -->
  
  </div>
</section>

<section id="section-2" class="section2 section container-fluid bg-2 text-center">
    <div class="profile">
      <br>
      <br>
      <br>
        <ul>
          <li>4​ ​1/2​ ​ans​ d’expérience dans la création de site internet</li>
          <li>Proactif et responsable avec un excellent sens du relationnel et du service client</li>
          <li>Esprit analytique, rigoureux avec soucis du détail</li>
          <li>Autonome et doté d'une forte capacité d’adaptation au sein d’une équipe</li>
  
        </ul>
      </div>
</section>

<section id="section-3" class="section3 section container-fluid bg-2 text-center">

</section>    